# .cpp gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.out

# Binary dirs.
.vscode/*
.clangd/*
.ccls/*
build/*
.ccls-cache/*
bin/

# Workspace files.
.cache/
compile_commands.json

# Editor files
tags
Session.vim
# Swap files
*.swp
*.swo

*.DS_Store*
